# Object Types / Data Types

- Number : 1234, 3.1415, 3+4j, 0b111, Decimal(), Fraction()
- String : 'spam', "Bob's", b'a\x01c', u'sp\xc4m'
- List : [1, [2, 'three'], 4.5], list(range(10))
- Tuple : (1, 'spam', 4, 'U'), tuple('spam'), namedtuple
- Dictionary : {'food': 'spam', 'taste': 'yum'}, dict(hours=10)

- Set : set('abc'), {'a', 'b', 'c'}, remove duplicat value

- File : open('eggs.txt'), open(r'C:\ham.bin', 'wb')

- Boolean : True, False
- None : None
- Funtions, modules, classes

- Advance: Decorators, Generators, Iterators, MetaProgramming

In [53]:
import math
import random

In [54]:
math.pi

3.141592653589793

In [55]:
print(random.random())

0.2744736349452428

In [56]:
print(random.choice([1, 2, 3, 4, 5]))

2

In [57]:
username:str = "Aijaz"
print(len(username))
print(username[0])

5
A

In [58]:
print(username[-1])

z

In [59]:
print(username[len(username)-1])

z

In [ ]:
dir(username)

In [67]:
mylist:list = [123, "Tea", 3.14]
print(mylist)
print(len(mylist))
print(mylist[0])
print(mylist[-1])

[123, 'Tea', 3.14]
3
123
3.14

In [71]:
mydictionory: dict = {'one':'Lemon','two':'Ginger Tea','Three':"Superman"}
print(mydictionory)
print(mydictionory['Three'])

{'one': 'Lemon', 'two': 'Ginger Tea', 'Three': 'Superman'}
Superman

In [72]:
myyuple:tuple = (1,2,3,4,5,6,7,8,9,10)
print(myyuple)
print(myyuple[0])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1

In [78]:
import sys

# print(sys.version)
print(sys.getrefcount(24601))
print(sys.getrefcount("aijaz"))

3
4294967295

In [89]:
mylistone:list = [1,2,3]
mylisttwo:list = [mylistone]

print(mylistone)
print(mylisttwo)

mylistone[0] = 33
print(mylistone)
print(mylisttwo)

[1, 2, 3]
[[1, 2, 3]]
[33, 2, 3]
[[33, 2, 3]]

In [91]:
l1 = [1,2,3]
l2 = l1

print(l1)
print(l2)

l1[0] = 44

print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3]
[44, 2, 3]
[44, 2, 3]

In [93]:
p1 = [1,2,3]
p2 = [p1]

print(p1)
print(p2)

p2 = [1,2,3]
p1[0] = 55

print(p1)
print(p2)

[1, 2, 3]
[[1, 2, 3]]
[55, 2, 3]
[1, 2, 3]

In [95]:
h1 = [1,2,3]
h2 = [h1[:]]

print(h1)
print(h2)

h1[0] = 55

print(h1)
print(h2)

[1, 2, 3]
[[1, 2, 3]]
[55, 2, 3]
[[1, 2, 3]]

In [97]:
import copy

h2 = copy.copy(h1) #for copy list
h2 = copy.deepcopy(h1) #for copy list in list

h1 = [1, 2, 3, 4, 5]

print(h1)
print(h2)

[1, 2, 3, 4, 5]
[55, 2, 3]

# Numbers

- In Pythone numbers are very powerfull.

- Matlab is using for numbers

# Operator Over Loading

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

#### Overloading the + operator
    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)

#### Overloading the str() function to print the point
    def __str__(self):
        return f"({self.x}, {self.y})"

#### Creating two points
p1 = Point(2, 3)
p2 = Point(4, 5)

### Adding the points using the + operator
p3 = p1 + p2

### Displaying the result
print(p3)  # Output: (6, 8)

In [98]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    # Overloading the + operator
    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)

    # Overloading the str() function to print the point
    def __str__(self):
        return f"({self.x}, {self.y})"

# Creating two points
p1 = Point(2, 3)
p2 = Point(4, 5)

# Adding the points using the + operator
p3 = p1 + p2

# Displaying the result
print(p3)  # Output: (6, 8)

(6, 8)

In [101]:
print(repr("tea"))
print(str("tea"))
print("tea")

'tea'
tea
tea

In [109]:
# Comparision Operators

def comparison_operators(x, y):
    """
    Compare two values using comparison operators
    """
    
    if x > y:
        print(f"{x} is greater than {y}")
    elif x < y:
        print(f"{x} is less than {y}")
    else:
        print(f"{x} is equal to {y}")

comparison_operators(20,3)

20 is greater than 3

In [117]:
x = 2
y = 30
z = 4
print(x < y and y < z)

False

In [119]:
1 == 2<3

False

## Random
- random.random() provides value from 0 to 1
- random.randint() provides any range
- random.choice() select fron array
- random.shuffle()

In [158]:
import random

random.random()

0.655495345958909

In [154]:
random.randint(1, 10)

7

In [151]:
l1 = ["Lemon Tea", "Ginger Tea", "Masala Tea"]

random.choice(l1)

'Masala Tea'

In [149]:
random.shuffle(l1)
print(l1)

['Ginger Tea', 'Lemon Tea', 'Masala Tea']

## Decimal
- To handle decimal calculation
- To further study, "Decimal Context Manager"

In [167]:
from decimal import Decimal

Decimal('0.1') + Decimal('0.1') + Decimal('0.1')

Decimal('0.3')

In [166]:
Decimal('0.1') + Decimal('0.1') + Decimal('0.1') - Decimal('0.3')

Decimal('0.0')

## Fractions

In [169]:
from fractions import Fraction

myFra = Fraction(3, 4)

print(myFra)

3/4

## Set

- Define in { } rather than dictionary which defines in key : value pair

In [171]:
setone = {1, 2, 3, 4, 5}
print(setone)

{1, 2, 3, 4, 5}

## String

- ' '
- " "
- """ """
- slice()
- split()
- string are UNI Code, What is UTF8?
- lower()
- upper()
- strip() To remove spaces from start and end, specialy use in web development
- replace()
- find()
- join()
- len()

In [173]:
Tea = "Lemon Tea"

print(Tea)

Tea = "Masala Tea"

print(Tea)

Lemon Tea
Masala Tea

In [174]:
## First Charactor

first_char = Tea[0]

print(first_char)

M

In [177]:
## Slice

slice_tea = Tea[0:6]

print(slice_tea)
print(Tea)

Masala
Masala Tea

In [ ]:
## Slice

num_list = "0123456789"

print(num_list[:])
print(num_list[2:])
print(num_list[:2])
print(num_list[::2])
print(num_list[1::2])
print(num_list[::-1])
print(num_list[::-2])
print(num_list[1::-2])
print(num_list[1::2])
print(num_list[-1::-2])

In [194]:
## Split

Tea = "Lemon Tea, Ginger Tea, Masala Tea, Mint Tea"

print(Tea)
print(Tea.split())
print(Tea.split(", "))

Lemon Tea, Ginger Tea, Masala Tea, Mint Tea
['Lemon', 'Tea,', 'Ginger', 'Tea,', 'Masala', 'Tea,', 'Mint', 'Tea']
['Lemon Tea', 'Ginger Tea', 'Masala Tea', 'Mint Tea']

In [195]:
## Replace

print(Tea.replace("Lemon", "Ginger"))
print(Tea)

Ginger Tea, Ginger Tea, Masala Tea, Mint Tea
Lemon Tea, Ginger Tea, Masala Tea, Mint Tea

In [196]:
## Find

print(Tea.find("Masala")) # it depicts the position of found string
print(Tea.find("masala")) # it depicts charactor not found

23
-1

In [198]:
## Count

print(Tea.count('Tea'))

4

In [199]:
## Order Format

Tea = "Lemon"
Qty = 2
Order = "I'd like {} cups of {} tea"

print(Order.format(Qty, Tea))

I'd like 2 cups of Lemon tea

In [208]:
## Join to Convert List into String

from os.path import join
Tea_variety = ['Lemon', 'Ginger', 'Masala', 'Mint']

print("". join(Tea_variety))
print(" ". join(Tea_variety))
print(" - ". join(Tea_variety))
print(", ". join(Tea_variety))

LemonGingerMasalaMint
Lemon Ginger Masala Mint
Lemon - Ginger - Masala - Mint
Lemon, Ginger, Masala, Mint

In [213]:
## Length
Tea_variety = "Lemon Tea"
print(Tea_variety)
print(len(Tea_variety))
print(type(Tea_variety))

Lemon Tea
9
<class 'str'>

# List

In [218]:
tea_list = ["Black", "Green", "Oolong", "White"]

print(tea_list)
print(tea_list[0])
print(tea_list[-1])
tea_list[3] = "Herbal"
print(tea_list)

['Black', 'Green', 'Oolong', 'White']
Black
White
['Black', 'Green', 'Oolong', 'Herbal']

## Loop

In [221]:
# For Loop

for tea in tea_list:
    # print(tea)
    print(tea, end = " - ")

Black - Green - Oolong - Herbal -

# If Else

In [265]:
tea_list.append("Oolong")
tea_list.pop()
print(tea_list)

if "Oolong" in tea_list:
    print("Oolong is in the list")
else:
    print("Oolong is not in the list")

['Black', 'Green', 'Herbal', 'Oolong']
Oolong is in the list

# Dictionery

In [279]:
tea_tast:dict = {"Masala":"Spicy","Ginger":"Zesty","Lemon":"Sour","Green":"Fresh"}

print(tea_tast["Ginger"])
print(tea_tast.get("Ginger"))

Zesty
Zesty